h1 {
	background-color: bisque;
	color: black;
	text-align: center;
  }

  img {
	background-color: bisque;
	border: 3px solid black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 10px;
	width: "25%"
  }
  p {
	margin: 20px;
	text-align: center 

  }

  body {
	margin: 20px;
	padding: 10px;
	text-align: left 
  }

  span {
	content: '';
	width: 100%;
	height: 1em;
	display: inline-block;
  }

table{
	text-align: center;
}